@let _form = form();
@let answers = _form.controls;
@let _answersCount = answersCount();

<div class="question-form single-choice">
  <h3>Correct answer</h3>
  @for (answer of answers; track answer.controls.randomId.value) {
  @if (answer.controls.correct.value) {
  <div class="answer-field single-choice correct">
    <div class="answer-input">
      <mat-radio-button checked disabled [name]="answer.controls.randomId.value!"></mat-radio-button>
      <mat-form-field [formGroup]="answer">
        <input matInput formControlName="value" />
      </mat-form-field>
    </div>
  </div>
  }
  }

  <h3>Wrong answers</h3>
  @for (answer of answers; track answer.controls.randomId.value) {
  @if (!answer.controls.correct.value) {
  <div class="answer-field single-choice wrong">
    @let id = answer.controls.randomId.value!;
    <div class="answer-input">
      <mat-radio-button disabled [name]="id"></mat-radio-button>
      <mat-form-field [formGroup]="answer">
        <input matInput formControlName="value" />
      </mat-form-field>
    </div>
    <app-delete-answer-button [appHideVisually]="_answersCount <= minAnswersCount" class="remove-wrong-answer-button"
      (click)="removeAnswer(id, $event)"></app-delete-answer-button>
  </div>
  }
  }

  @if (_answersCount < maxAnswersCount) { <app-add-answer-button class="add-wrong-answer-button" [correct]="false"
    (click)="addNewAnswer($event)">
    </app-add-answer-button>
    }
</div>