<app-catalogue-select-menu [selectedValue]="sortOrder"
  (selectEvent)="changeSortAndOrder($event)"></app-catalogue-select-menu>

<ng-container *ngIf="catalogue.quizzes.length; else empty">
  <app-quiz-list-item 
  *ngFor="let quiz of catalogue.quizzes"
  [quiz]="quiz"></app-quiz-list-item>
</ng-container>

<app-catalogue-paginator [total]="catalogue.total" [page]="page" (pageEvent)="changePage($event)"></app-catalogue-paginator>

<ng-template #empty>
  <p class="no-quizzes">There are no quizzes matching your request!</p>
</ng-template>