h1 {
  text-align: center;
}

.overview {
  display: flex;
  align-items: center;
  justify-content: center;

  .user-data {
    .heading {
      padding-left: 16px;
    }
    display: flex;
    flex-direction: column;
  }
}