section {
  header {
    padding: 32px 16px;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);

    h1 {
      font-size: 36px;
      margin-top: 0;
      margin-bottom: 16px;
    }

    button {
      margin-bottom: 0;
    }
  }
}