<article class="question wrapper">
  <h1 class="question-index">Question #{{ index + 1 }}</h1>
  <h2 class="question-type">{{ questionLabels[type].label }}</h2>
  <mat-form-field>
    <mat-select [(value)]="type" (valueChange)="onChangeQuestionType($event)">
      <mat-option [value]="types.single">Single-choice</mat-option>
      <mat-option [value]="types.multi">Multiple-choice</mat-option>
      <mat-option [value]="types.text">Text</mat-option>
    </mat-select>
  </mat-form-field>
  <app-single-choice [form]="form" *ngIf="form.controls.type.value === types.single"></app-single-choice>
  <app-multiple-choice [form]="form" *ngIf="form.controls.type.value === types.multi"></app-multiple-choice>
  <app-text *ngIf="form.controls.type.value === types.text" [form]="form"></app-text>
</article>