.question.wrapper {
  mat-card {
    background-color: #fbfbfb;
    -webkit-box-shadow: 5px 2px 15px 5px rgba(0, 0, 0, 0.36);
    box-shadow: 5px 2px 15px 5px rgba(0, 0, 0, 0.36);
  }

  .question-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .question-select {
      width: 40vw;
    }
  }
}
