@let q = question();
@let questionForm = form();

@if (questionForm) {
<div [formGroup]="questionForm">
  <mat-radio-group class="answers" formControlName="currentAnswer" [name]="q.id" required>
    @for (answer of q.answers; track answer.id) {
    <div class="answer-radio">
      <mat-radio-button [value]="answer.id">
        <span class="answer-label" [appQuestionGrade]="answerIsCorrect(answer.id)">{{
          answer.value }}</span>
      </mat-radio-button>
    </div>

    }
  </mat-radio-group>
</div>
}