@let _logs = logs();

<h2>Manage users</h2>

<form [formGroup]="form" class="form">
  <mat-form-field subscriptSizing="dynamic">
    <mat-label>Order by</mat-label>
    <mat-select formControlName="order">
      <mat-option value="Ascending">Date (ascending)</mat-option>
      <mat-option value="Descending">Date (descending)</mat-option>
    </mat-select>
  </mat-form-field>
</form>

<mat-table [dataSource]="_logs.logs">
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let log"> {{ log.index }} </td>
  </ng-container>

  <ng-container matColumnDef="message">
    <th mat-header-cell *matHeaderCellDef>Message</th>
    <td mat-cell *matCellDef="let log"> {{ log.message }} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let log">
      {{ log.date | date: 'short' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</mat-table>
<mat-paginator [pageSize]="20" [pageSizeOptions]="[5, 10, 15, 20]" [pageIndex]="(form.value.page || 1) - 1" showFirstLastButtons (page)="changePage($event)" [pageSize]="20"
  [length]="_logs.total"></mat-paginator>