.loader {
  width: 250px;
  height: 20px;
  background-color: #673ab7;
  color: white;
  margin: 0 auto;
  position: fixed;
  bottom: 1px;
  left: 0;
  right: 0;
  padding: 12px;
  border-radius: 10px;
  vertical-align: middle;
  z-index: 1000;
}
