form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 32px;
  margin: 0 auto 16px;
  padding: 16px 0;

  .question-container {
    width: 100%;
  }

  #grade {
    width: 100%;
  }
}
