@let controls = form.controls;
@let instantMode = quiz.instantMode();
@let quizForm = form;
@let questions = answersFeedback();

<form (submit)="gradeAllQuestions($event)">
  @for (control of controls; track control.controls.id.value) {
  @let questionId = control.controls.id.value;
  <div class="question-container">
    <app-quiz-session-question [questionId]="questionId!"
      [correctAnswers]="correctAnswers()"></app-quiz-session-question>
  </div>
  }

  @if (!instantMode) {
  <button id="grade" [disabled]="quizForm.invalid || quizForm.disabled" mat-flat-button type="submit">Check my answers</button>
  }
</form>

<section class="stats-section">
  <app-quiz-game-stats [questions]="questions" [instantMode]="instantMode"></app-quiz-game-stats>
</section>