@let controls = form.controls;
@let instantMode = quiz.instantMode();
@let quizForm = form;

<form (submit)="gradeAllQuestions($event)">
  @for (control of controls; track control.controls.id.value) {
  @let questionId = control.controls.id.value;
  <app-quiz-session-question [questionId]="questionId!" [correctAnswers]="correctAnswers()"></app-quiz-session-question>
  }

  @if (!instantMode) {
    <button id="grade" [disabled]="quizForm.invalid" mat-flat-button type="submit">Check my answers</button>
  }
</form>