<app-admin-tabs activeRoute="usernames"></app-admin-tabs>
<app-catalogue-select-menu 
  [options]="options"
  selectedValue="asc"
  (selectEvent)="changeOrder($event)"
>
</app-catalogue-select-menu>

<mat-form-field>
  <mat-label>Search by username</mat-label>
  <input matInput placeholder="Insert username here" (change)="changeUsername($event)">
</mat-form-field>

<app-users-list 
[data]="(userList$ | async)?.users || defaultUsers"
  (updateUsersEvent)="updateUsers()"
></app-users-list>

<app-catalogue-paginator 
  [page]="page"
  [total]="(userList$ | async)?.total || 1"
  (pageEvent)="changePage($event)"
>
</app-catalogue-paginator>