.home-sections {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.home-section {
  width: 350px;
  justify-content: space-between;
}

.icon mat-icon {
  font-size: 40px;
  width: 100%;
  height: 100%;
}