form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 16px;

  .prompt-field, .notes-field {
    width: 100%;
  }

  mat-card.question-form {
    position: relative;

    .remove-question-btn {
      position: absolute;
      right: 8px;
      left: auto;
      top: 8px;
    }
  }

  mat-card-subtitle {
    padding-bottom: 16px;
  }

  .notes-field {
    margin-top: 32px;
  }

  mat-card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .button-container {
    display: flex;
    justify-content: center;
  }

  .answer-field {
    display: flex;
    margin-bottom: 16px;
    width: 100%;
  }

  .answer-input {
    width: 80%;

    mat-form-field {
      width: 90%;
    }
  }
}