.text-question.question {
  width: 100%;

  mat-form-field {
    width: 45vw;
  }

  .prompt-field mat-form-field {
    width: 100%;
    font-size: 1.2rem;
  }

  .answer-field {
    margin-bottom: 1.5em;
  }

  .invisible {
    visibility: hidden;
  }
  
  h4 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;

    &.correct-answers-heading {
      color: green;
    }

    &.wrong-answers-heading {
      color: red;
    }
  }

  .correct-answer {
    text-align: center;
    mat-form-field {
      margin-right: 10px;
    }
  }
}