.desktop-search-field {
  transition: width 0.3s ease-in-out;

  &.open {
    width: 250px;
  }

  &.closed {
    width: 0;
    animation: fadeOut 0.5s;
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 100;
  } to {
    opacity: 0;
  }
}