<form class="quiz-form" [formGroup]="form" (submit)="onSubmit($event)">
  <section class="title-field">
    <mat-form-field [hintLabel]="form.controls.title.value?.length + ' / ' + quizValidationRules.title.maxlength">
      <input placeholder="Title" required matInput formControlName="title" id="title" [maxlength]="quizValidationRules.title.maxlength">
      <mat-error *ngIf="form.controls.title.errors?.['required']">Please fill this field!</mat-error>
      <mat-error *ngIf="form.controls.title.errors?.['minlength']">Title is too short!</mat-error>
    </mat-form-field>
  </section>
  <section class="description-field">
    <mat-form-field [hintLabel]="form.controls.description.value?.length + ' / ' + quizValidationRules.description.maxlength">
      <textarea placeholder="Description" cdkTextareaAutosize matInput required formControlName="description" id="description" [maxlength]="quizValidationRules.description.maxlength"></textarea>
      <mat-error *ngIf="form.controls.description.errors?.['required']">Please fill this field!</mat-error>
    </mat-form-field>
  </section>
  <section class="other-options-field">
    <mat-checkbox class="instant-mode-field" formControlName="instantMode" *ngIf="!edit">Instant mode</mat-checkbox>
  </section>
  <section class="question-fields" *ngFor="let question of form.controls.questions.controls; index as i">
    <app-question [form]="question" [index]="i"></app-question>
    <button
      class="remove-question-btn"
      (click)="removeQuestionAt(i, $event)"
      *ngIf="form.controls.questions.length > 1"
      mat-raised-button color="warn"
    >
      <mat-icon>remove_circle</mat-icon>
      Remove this question
    </button>
  </section>
  <button 
    mat-raised-button color="primary"
    (click)="addQuestion($event)"
    class="add-question-btn"
    *ngIf="form.controls.questions.length < 100"
    >
    <mat-icon>add</mat-icon>
    Add a new question
  </button>

  <button mat-raised-button color="primary" id="submit" [disabled]="form.invalid">Submit</button>
</form>