<form>
  <section *ngFor="let question of form.controls.questions.controls; index as i">
    <app-question [form]="question" [index]="i"></app-question>
    <button class="remove-question-btn" (click)="removeQuestionAt(i, $event)" mat-raised-button color="warn">
      <mat-icon>remove_circle</mat-icon>
      Remove this question
    </button>
  </section>
  <button mat-raised-button color="primary" (click)="addQuestion($event)" class="add-question-btn">
    <mat-icon>add</mat-icon>
    Add a new question
  </button>
</form>