.quiz-list-item {
  display: block;
  margin: 0 auto;
  margin-bottom: 1.5em;
  width: 100%;

  mat-card {
    width: 500px;
    height: 400px;

    @media screen and (max-width: 600px) {
      width: 300px;
    }
  }

  mat-card-title {
    word-break: break-all;
    font-size: 1.4rem;
  }

  mat-card-content {
    word-break: break-all;
  }

  mat-card-actions {
    margin-left: auto;
    margin-top: auto;
    margin-right: 10px;
    a {
      font-size: 1.2rem;
      border: 1px solid hsla(0, 0%, 75%, 0.7);
    }
  }
}
