.buttons {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
}

.introduction {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  line-height: 1.5;

  @media screen and (max-width: 500px) {
    width: 80%;
  }
}