<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>
      Overview
    </mat-card-title>
    <mat-card-subtitle>
      Made by {{ quiz.creatorUsername() }}

      <mat-chip-set>
        <mat-chip>
          Created on {{ quiz.createdOn() | date: 'dd/MM/yyyy'}}
        </mat-chip>
        <mat-chip>
          Updated on {{ quiz.updatedOn() | date: 'dd/MM/yyyy'}}
        </mat-chip>
      </mat-chip-set>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ quiz.description() }}
    </p>
  </mat-card-content>
  @if (quiz.instantMode()) {
  <mat-card-footer>
    <h3>What does this quiz feature?</h3>
    <mat-chip-set>
      <mat-chip>Instant mode</mat-chip>
    </mat-chip-set>
  </mat-card-footer>
  }
</mat-card>