<nav [ngClass]="disappear ? 'overlay-menu invisible-menu' : 'overlay-menu'" *ngIf="open | async">
  <ul [ngClass]="disappear ? 'disappear' : ''">
    <li>
      <a routerLink="/">
        <mat-icon>home</mat-icon>
        Home
      </a>
    </li>
    <li>
      <a routerLink="/quiz/all">
        <mat-icon>list</mat-icon>
        Browse all quizzes
      </a>
    </li>
    <li *ngIf="isGuest()">
      <a routerLink="/register">
        <mat-icon>account_box</mat-icon>
        Register
      </a>
    </li>
    <li *ngIf="isGuest()">
      <a routerLink="/login">
        <mat-icon>arrow_forward</mat-icon>
        Login
      </a>
    </li>
    <li *ngIf="!isGuest()">
      <a routerLink="/quiz/create">
        <mat-icon>add</mat-icon>
        Create a quiz
      </a>
    </li>
    <li *ngIf="isAdmin()">
      <a routerLink="/administration/logs">
        <mat-icon>lock</mat-icon>
        Administration page
      </a>
    </li>
    <li *ngIf="!isGuest()">
      <app-logout-button></app-logout-button>
    </li>
  </ul>
  <div class="leftover-space" (click)="closeMenu()"></div>
</nav>