@let _form = form();
@let answers = _form.controls;
@let _answersCount = answersCount();

<div class="question-form text">
  <h3>Correct answers</h3>
  @for (answer of answers; track answer.controls.randomId.value) {
  @if (answer.controls.correct.value) {
  @let id = answer.controls.randomId.value!;
  <div class="answer-field text correct">
    <div class="answer-input">
      @let answerLength = answer.value.value?.length || 0;
      @let errors = answer.controls.value.errors;
      <mat-form-field [formGroup]="answer">
        <textarea appFocusNewlyAddedField cdkTextareaAutosize matInput formControlName="value"></textarea>
        <mat-hint>{{ answerLength }} / {{ answersMaxLength }}</mat-hint>
        <mat-error>{{ errors | singleInputError: answersErrorMessages }}</mat-error>
      </mat-form-field>
    </div>
    <app-delete-answer-button (click)="removeAnswer(id, $event)" [appHideVisually]="_answersCount === minAnswersCount"
      class="remove-correct-answer-button"></app-delete-answer-button>
  </div>
  }
  }

  @if (_answersCount < maxAnswersCount) { <app-add-answer-button class="add-answer-button correct" [correct]="true"
    (click)="addNewAnswer($event)">
    </app-add-answer-button>
    }
</div>