<div [formGroup]="form" class="multiple-choice-question question">
  <section>
    <mat-form-field class="prompt-field" [hintLabel]="form.controls.prompt.value?.length + '/ 100'">
      <textarea placeholder="Prompt" cdkTextareaAutosize required matInput class="prompt" formControlName="prompt"></textarea>
      <mat-error *ngIf="form.controls.prompt.errors?.['required']">Please fill this field!</mat-error>
      <mat-error *ngIf="form.controls.prompt.errors?.['maxlength']">This field is too long!</mat-error>
    </mat-form-field>
  </section>
  <h4 class="correct-answers-heading">Correct Answers</h4>
  <section>
    <div class="correct-answer left">
      <div class="answer-field" *ngFor="let answer of correctAnswers; index as i" formArrayName="answers">
        <mat-checkbox disabled checked></mat-checkbox>
        <mat-form-field [formGroupName]="actualIndex(i, true)" 
        [hintLabel]="'' + form.controls.answers.controls[actualIndex(i, true)].controls.value.value?.length + '/ 100'">
          <textarea 
            cdkTextareaAutosize
            required
            maxlength="100" 
            class="correct-answer-field"
            matInput
            formControlName="value"
            [placeholder]="'Correct answer #' + (i + 1)"
          >
          </textarea>
          <mat-error *ngIf="getErrorsAt(i, true)?.['required']">Please fill this field!</mat-error>
          <mat-error *ngIf="getErrorsAt(i, true)?.['maxlength']">This field is too long!</mat-error>
        </mat-form-field>
        <button
          aria-label="Remove this field"
          mat-mini-fab color="warn"
          [ngClass]="canRemoveCorrectAnswersFields ? 'remove-field-btn visible correct' : 'remove-field-btn invisible'"
          matTooltip="Remove this field"
          matTooltipPosition="above"
          (click)="removeCorrectAnswerFieldAt($event, i)"
        >
          <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
      </div>
      <button 
        mat-raised-button
        color="accent"
        class="add-field-btn correct"
        (click)="addNewCorrectAnswerField($event)"
        *ngIf="canAddFields"
      >
        <mat-icon>add</mat-icon>
        Add new correct answer
      </button>
    </div>
  </section>
  <mat-divider [inset]="true"></mat-divider>
  <h4 class="wrong-answers-heading">Wrong answers</h4>
  <section>
    <div class="wrong-answers">
      <div class="answer-field" *ngFor="let answer of wrongAnswers; index as i" formArrayName="answers">
        <mat-checkbox disabled></mat-checkbox>
        <mat-form-field [formGroupName]="actualIndex(i, false)" [hintLabel]="'' + form.controls.answers.controls[actualIndex(i, false)].controls.value.value?.length + '/ 100'">
          <textarea 
            cdkTextareaAutosize
            required
            maxlength="100"
            class="wrong-answer-field"
            matInput
            formControlName="value"
            [placeholder]="'Wrong answer #' + (i + 1)"
          >
          </textarea>
          <mat-error *ngIf="getErrorsAt(i, false)?.['required']">Please fill this field!</mat-error>
          <mat-error *ngIf="getErrorsAt(i, false)?.['maxlength']">This field is too long!</mat-error>
        </mat-form-field>
        <button 
          aria-label="Remove this field"
          mat-mini-fab color="warn"
          [ngClass]="canRemoveWrongAnswersFields ? 'remove-field-btn visible wrong' : 'remove-field-btn invisible'"
          matTooltip="Remove this field" 
          matTooltipPosition="above" (click)="removeWrongAnswerFieldAt($event, i)"
        >
          <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
      </div>
      <button
        mat-raised-button
        color="accent"
        class="add-field-btn wrong"
        (click)="addNewWrongAnswerField($event)"
        *ngIf="canAddFields"
      >
        <mat-icon>add</mat-icon>
        Add new wrong answer
      </button>
    </div>
  </section>
</div>