<div [formGroup]="form" class="multiple-choice-question question">
  <section>
    <mat-form-field class="prompt-field">
      <textarea cdkTextareaAutosize required matInput class="prompt" formControlName="prompt"></textarea>
      <mat-error *ngIf="form.controls.prompt.errors?.['required']">Please fill this field!</mat-error>
      <mat-error *ngIf="form.controls.prompt.errors?.['maxlength']">This field is too long!</mat-error>
    </mat-form-field>
  </section>
  <h4 class="correct-answers-heading">Correct Answers</h4>
  <section>
    <div class="correct-answer left">
      <div *ngFor="let answer of form.controls.correctAnswers.controls; index as i" formArrayName="correctAnswers">
        <mat-checkbox disabled checked></mat-checkbox>
        <mat-form-field [formGroupName]="i">
          <textarea cdkTextareaAutosize required maxlength="100" class="correct-answer-field" matInput
            formControlName="answer"></textarea>
          <mat-error *ngIf="correctAnswersManager.getErrorsAt(i)?.['required']">Please fill this field!</mat-error>
          <mat-error *ngIf="correctAnswersManager.getErrorsAt(i)?.['maxlength']">This field is too long!</mat-error>
        </mat-form-field>
        <button aria-label="Remove this field" mat-mini-fab color="warn" class="remove-field-btn correct"
          matTooltip="Remove this field" matTooltipPosition="above" (click)="removeCorrectAnswerFieldAt($event, i)">
          <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
      </div>
      <button mat-raised-button color="accent" class="add-field-btn correct" (click)="addNewCorrectAnswerField($event)">
        <mat-icon>add</mat-icon>
        Add new correct answer
      </button>
    </div>
  </section>
  <mat-divider [inset]="true"></mat-divider>
  <h4 class="wrong-answers-heading">Wrong answers</h4>
  <section>
    <div class="wrong-answers">
      <div *ngFor="let answer of form.controls.wrongAnswers.controls; index as i" formArrayName="wrongAnswers">
        <mat-checkbox disabled></mat-checkbox>
        <mat-form-field [formGroupName]="i">
          <textarea cdkTextareaAutosize required maxlength="100" class="wrong-answer-field" matInput
            formControlName="answer"></textarea>
          <mat-error *ngIf="wrongAnswersManager.getErrorsAt(i)?.['required']">Please fill this field!</mat-error>
          <mat-error *ngIf="wrongAnswersManager.getErrorsAt(i)?.['maxlength']">This field is too long!</mat-error>
        </mat-form-field>
        <button aria-label="Remove this field" mat-mini-fab color="warn" class="remove-field-btn wrong"
          matTooltip="Remove this field" matTooltipPosition="above" (click)="removeWrongAnswerFieldAt($event, i)">
          <mat-icon aria-hidden="true">delete</mat-icon>
        </button>
      </div>
      <button mat-raised-button color="accent" class="add-field-btn wrong" (click)="addNewWrongAnswerField($event)">
        <mat-icon>add</mat-icon>
        Add new wrong answer
      </button>
    </div>
  </section>
</div>