.submit-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 16px;

  @media screen and (max-width: 1024px) {
    flex-direction: column-reverse;
  }

  .image {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 16px;
    @media screen and (max-width: 1024px) {
      align-self: center;
    }

    img {
      max-width: 100%;
      margin-left: auto;
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
}