<mat-stepper linear orientation="horizontal" #stepper>
  <mat-step [stepControl]="basicDataForm">
    <ng-template matStepLabel>Describe your quiz</ng-template>
    <app-quiz-form-basic-data [edit]="edit()"></app-quiz-form-basic-data>
    <div>
      <button [disabled]="basicDataForm.invalid" mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="questionsForm">
    <ng-template matStepLabel>Manage questions</ng-template>
    <app-quiz-form-questions [edit]="edit()"></app-quiz-form-questions>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext [disabled]="questionsForm.invalid">Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Submit</ng-template>
    <app-quiz-form-summary>
      <ng-container actions>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-flat-button type="button" (click)="submit($event)">Submit</button>
      </ng-container>
    </app-quiz-form-summary>
  </mat-step>
</mat-stepper>