<mat-stepper linear orientation="horizontal" #stepper>
  <mat-step [stepControl]="basicDataForm">
    <ng-template matStepLabel>Describe your quiz</ng-template>
    <app-quiz-form-basic-data [form]="basicDataForm"></app-quiz-form-basic-data>
    <div>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step [stepControl]="questionsForm">
    <ng-template matStepLabel>Manage questions</ng-template>
    <app-quiz-form-questions [form]="questionsForm"></app-quiz-form-questions>
  </mat-step>
</mat-stepper>