.overview {
  width: 90%;
  margin: 10px auto;

  mat-card-header {
    margin: 0 auto;
    display: block;
    word-break: break-all;
  }

  mat-card-content {
    word-break: break-all;
    .description {
      margin: 0 30px;
    }
  }

  mat-card-actions {
    margin: 0 auto;
    display: block;
  }

  .instant-mode-chip {
    mat-chip {
      display: block;
      margin: 0 auto;
    }
  }
}

#questions {
  margin-top: 10px;
}