<mat-tab-group dynamicHeight>
  <mat-tab label="Overview">
    <article class="overview">
      <mat-card>
        <mat-card-header>
          <mat-card-title class="title">{{ quiz.title }}</mat-card-title>
          <mat-card-subtitle>Created by <a [routerLink]="'/profile/' + quiz.creatorId">{{ quiz.creatorUsername }}</a></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <section>
            <mat-chip-listbox *ngIf="quiz.instantMode" class="instant-mode-chip">
              <mat-chip>Instant Mode</mat-chip>
            </mat-chip-listbox>
            <p class="description">{{ quiz.description }}</p>
          </section>
        </mat-card-content>
        <mat-card-actions *ngIf="(canEdit | async) || (canDelete | async)">
          <section class="actions">
            <h2>Actions</h2>
            <app-edit-button [id]="quiz.id" *ngIf="(canEdit | async)">Edit quiz</app-edit-button>
            <app-delete-button [id]="quiz.id" *ngIf="(canDelete | async)">Delete quiz</app-delete-button>
          </section>
        </mat-card-actions>
      </mat-card>
    </article>
  </mat-tab>
  <mat-tab label="Questions">
    <h1 id="questions">Questions</h1>
    <app-quiz-session id="ses"
      [quizId]="quiz.id"
      [questions]="quiz.questions"
      [instantMode]="quiz.instantMode"
      [version]="quiz.version"
    >
    </app-quiz-session>
  </mat-tab>
</mat-tab-group>