<div [formGroup]="form" class="single-choice-question question">
  <mat-form-field class="prompt-field" [hintLabel]="form.controls.prompt.value?.length + '/ 100'">
    <textarea placeholder="Prompt" cdkTextareaAutosize required matInput class="prompt" formControlName="prompt"></textarea>
    <mat-error *ngIf="form.controls.prompt.errors?.['required']">Please fill this field!</mat-error>
    <mat-error *ngIf="form.controls.prompt.errors?.['maxlength']">This field is too long!</mat-error>
  </mat-form-field>
  <h4 class="correct-answers-heading">Correct Answer</h4>
  <section class="correct-answer" formArrayName="answers">
    <mat-radio-button disabled checked [name]="uniqueName"></mat-radio-button>
    <mat-form-field [formGroupName]="0" [hintLabel]="'' + form.controls.answers.controls[0].controls.value.value?.length + '/ 100'">
      <textarea placeholder="Correct answer" cdkTextareaAutosize required maxlength="100" matInput
        class="correct-answer-field" formControlName="value"></textarea>
      <mat-error *ngIf="correctAnswer.controls.value.errors?.['required']">Please fill this field!</mat-error>
      <mat-error *ngIf="correctAnswer.controls.value.errors?.['maxlength']">This field is too long!</mat-error>
    </mat-form-field>
    <!--
      the button below is only there to make the
      correct and wrong answer fields evenly aligned,
      it is not supposed to be visible or functional
    -->
    <button aria-label="Remove this field" mat-mini-fab color="warn" class="remove-field-btn invisible"
        matTooltip="Remove this field" matTooltipPosition="above">
        <mat-icon aria-hidden="true">delete</mat-icon>
      </button>
  </section>
  <mat-divider [inset]="true"></mat-divider>
  <h4 class="wrong-answers-heading">Wrong answers</h4>
  <section class="wrong-answers">
    <div class="answer-field" *ngFor="let answer of wrongAnswers; index as i"
      formArrayName="answers">
      <mat-radio-button disabled></mat-radio-button>
      <mat-form-field [formGroupName]="getActualIndex(i)" 
      [hintLabel]="'' + form.controls.answers.controls[getActualIndex(i)].controls.value.value?.length + '/ 100'">
        <textarea 
          cdkTextareaAutosize
          required
          maxlength="100"
          class="wrong-answer-field"
          matInput
          formControlName="value"
          [placeholder]="'Wrong answer #' + (i + 1)"
        >
        </textarea>
        <mat-error *ngIf="getErrorsAt(i)?.['required']">Please fill this field!</mat-error>
        <mat-error *ngIf="getErrorsAt(i)?.['maxlength']">This field is too long!</mat-error>
      </mat-form-field>
      <button 
        aria-label="Remove this field"
        mat-mini-fab color="warn"
        [ngClass]="canRemoveFields ? 'remove-field-btn visible' : 'remove-field-btn invisible'"
        matTooltip="Remove this field" 
        matTooltipPosition="above" 
        (click)="removeFieldAt(i, $event)"
      >
        <mat-icon aria-hidden="true">delete</mat-icon>
      </button>
    </div>
    <button 
      mat-raised-button
      color="accent" 
      class="add-field-btn" 
      (click)="addField($event)"
      *ngIf="canAddFields"
    >
      <mat-icon>add</mat-icon>
      Add new wrong answer
    </button>
  </section>
</div>