.single-choice-question.question {
  width: 100%;

  .invisible {
    visibility: hidden;
  }

  .remove-field-btn {
    @media screen and (max-width: 350px) {
      margin-top: 1.5em;
    }
  }
  
  mat-divider {
    margin: 20px auto;
    width: 95%;
  }

  mat-form-field {
    width: 45vw;
    &.prompt-field {
      width: 100%;
      font-size: 1.2rem;
    }
  }

  .answer-field {
    margin-bottom: 1.5em;
  }
  
  h4 {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;

    &.correct-answers-heading {
      color: green;
    }

    &.wrong-answers-heading {
      color: red;
    } 
  }

  .correct-answer, .wrong-answers {
    text-align: center;
    mat-form-field {
      margin-right: 10px;
    }
  }

  .remove-field-btn {
    margin-left: 4px;
  }
}